<template name="cardsImpressumDatenschutzHeadingDE">
    <h1>Datenschutzerklärung</h1>
</template>

<template name="cardsImpressumDatenschutzContentDE">
    <h2>§1 Grundsatz</h2>
    <p>
        Ihre personenbezogenen Daten werden vertraulich behandelt. Sämtliche Handlungen sind an die
        gesetzlichen Grundlagen des Hessischen Datenschutzgesetzes (HDSG), des Telemediengesetzes (TMG), der
        Datenschutz-Grundverordnung der EU (EU-DSGVO) sowie
        dieser Datenschutzerklärung gebunden. Dies wird von der TransMIT GmH als Betreiber von 🍅cards
        garantiert.
    </p>
    <h2>§2 Erheben und Nutzen von Daten</h2>
    <p>
        Wir erheben, verarbeiten und nutzen personenbezogene Daten nur, soweit sie für die Begründung,
        inhaltliche Ausgestaltung und Abwicklung Ihrer Bestellung erforderlich sind (Bestandsdaten).
        Personenbezogene Daten über die Inanspruchnahme von 🍅cards (Nutzungsdaten) erheben, verarbeiten
        und nutzen wir nur, soweit dies erforderlich ist, um dem Benutzer die Inanspruchnahme des Systems zu
        ermöglichen oder abzurechnen.
    </p>
    <h2>§3 Anwendungsdaten</h2>
    <p>
        🍅cards sammelt Inhalte und sonstige Informationen, die der Benutzer bereitstellt, wenn er die
        Plattform nutzt. Dazu gehört auch der Anmeldename sowie Anmeldeservice bei der Registrierung, das
        Erstellen und Veröffentlichen von Lerninhalten und das Versenden von Nachrichten bzw. die Meldungen
        an die Administratoren. Dies können Informationen über die von Benutzern bereitgestellten Inhalte
        sein oder solche, die in ihnen enthalten sind, z. B. das Datum, an dem ein Lerninhalt erstellt
        wurde.
        Des Weiteren sammelt 🍅cards Informationen über das Bereitstellen von Lerninhalten, das
        Lernverhalten im Rahmen von Lernphasen sowie die Bewertungen.
    </p>
    <h2>§4 Zugriffsdaten</h2>
    <p>
        Personenbezogene Daten werden nur im technisch notwendige Umfang von 🍅cards erhoben. Außer
        Anmeldename und Anmeldeservice des Benutzers sowie Datum und Uhrzeit der Registrierung werden keine
        personenbezogenen Daten gespeichert.
    </p>
    <h2>§5 Webserver-Logdateien</h2>
    <p>
        Wir erheben und speichern automatisch Informationen in Log Files, die Ihr Browser automatisch an uns
        übermittelt. Dies sind:
    <ul>
        <li>Browsertyp/ Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Hostname des zugreifenden Rechners</li>
        <li>Uhrzeit der Serveranfrage</li>
    </ul>
    Diese Daten sind nicht bestimmten Personen zuordbar. Eine Zusammenführung dieser Daten mit anderen
    Datenquellen wird nicht vorgenommen.
    </p>
    <h2>§6 Cookies</h2>
    <p>
        Die Internetseiten verwenden teilweise so genannte Cookies. Diese dienen dazu, unser Angebot
        nutzerfreundlicher, effektiver und sicherer zu gestalten. Cookies sind kleine Textdateien, die auf
        Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Die meisten der von uns verwendeten
        Cookies sind so genannte &raquo;Session-Cookies&laquo;. Sie werden nach Ende Ihres Besuchs
        automatisch gelöscht.
        Cookies beeinträchtigen Ihren Rechner nicht und enthalten keine Viren.
    </p>
    <p>
        Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und
        diese nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell
        ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren.
        Durch die Deaktivierung der Cookies kann es zu Einschränkungen der Funktionalität der Plattform
        kommen.
    </p>
    <h2>§7 Private Karteien und Repetitorien</h2>
    <p>
        Karteien und Repetitorien, die vom Benutzer als &raquo;Privat&laquo; deklariert wurden,
        können von niemanden eingesehen werden mit Ausnahme von Personen mit Administrationsrechten.
    </p>
    <h2>$8 Sicherheit</h2>
    <p>
        Es wurden umfangreiche technische und betriebliche Schutzvorkehrungen getroffen, um Ihre Daten vor
        zufälligen oder vorsätzlichen Manipulationen, Verlust, Zerstörung oder dem Zugriff unberechtigter
        Personen zu schützen. Die Sicherheitsverfahren werden regelmäßig überprüft und dem technologischen
        Fortschritt angepasst. Datenübertragungen im Internet (z. B. bei der Kommunikation per E-Mail)
        können
        jedoch Sicherheitslücken aufweisen, sodass ein lückenloser Schutz der Daten vor dem Zugriff durch
        Dritte nicht möglich ist.
    </p>
    <h2>§9 Datenübermittlungen an Dritte</h2>
    <p>
        Eine Übermittlung Ihrer Daten an Dritte findet nicht statt, es sei denn, die Betreiber von 🍅cards
        sind gesetzlich dazu verpflichtet. Soweit externe Dienstleister mit Ihren personenbezogenen Daten in
        Kontakt kommen, wird durch rechtliche, technische und organisatorische Maßnahmen sowie durch
        regelmäßige Kontrollen sichergestellt, dass diese die Vorschriften der Datenschutzgesetze einhalten.
    </p>
    <h2>§10 Links zu Webseiten anderer Anbieter</h2>
    <p>
        🍅cards kann Links zu Webseiten anderer Anbieter enthalten, auf die sich diese
        Datenschutzerklärung
        nicht bezieht. Soweit mit der Nutzung der Internetseiten anderer Anbieter die Erhebung, Verarbeitung
        oder Nutzung personenbezogener Daten verbunden ist, beachten Sie bitte die Datenschutzhinweise der
        jeweiligen Anbieter.
    </p>
    <h2>§11 Einbindung von Diensten und Inhalten Dritter</h2>
    <p>
        Es kann vorkommen, dass angebotene Lerninhalte von 🍅cards Inhalte Dritter, wie zum Beispiel
        Videos
        von YouTube und Vimeo oder Grafiken von anderen Webseiten, eingebunden werden. Dies setzt voraus,
        dass die Anbieter dieser Inhalte die IP-Adresse der Benutzer/innen wahrnehmen. Ohne die IP-Adresse
        können die Inhalte nicht an den Browser gesendet werden.
    </p>
    <h2>§12 Übrige Datenerfassung</h2>
    <p>
        Weitergehende personenbezogene Daten werden nur erfasst, wenn Sie diese Angaben freiwillig, etwa im
        Rahmen einer Dozenten-Anfrage, angeben. Soweit Sie uns personenbezogene Daten zur Verfügung gestellt
        haben, werden diese nur zur Beantwortung Ihrer Anfragen, zur Abwicklung mit Ihnen geschlossener
        Verträge, zur Auswertung der Lernphasen und für die technische Administration gespeichert und
        verarbeitet.
    </p>
    <h2>§13 Widerspruchsrecht und Auskunftsrecht</h2>
    <p>
        Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen
        Daten, deren Herkunft und Empfänger, den Zweck der Datenverarbeitung sowie ein Recht auf
        Berichtigung, Sperrung oder Löschung dieser Daten.
    </p>
    <p>
        Bei Unklarheiten oder Anregungen wenden Sie sich an folgende E-Mail-Adresse oder an die im Impressum
        angegebenen Kontaktdaten: <a href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>
    </p>
    <h2>§14 Verzeichnis von Verarbeitungstätigkeiten</h2>
    <p>
        Eine Übersicht über die in 🍅cards verarbeiteten personenbezogenen Daten finden Sie im
        <a href="https://git.thm.de/arsnova/cards/wikis/Verzeichnis-von-Verarbeitungst%C3%A4tigkeiten" target="_blank">Verzeichnis
            von Verarbeitungstätigkeiten</a>.
    </p>
    <h2>§15 Änderungen der Datenschutzerklärung</h2>
    <p>
        Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit unter Beachtung der geltenden
        Datenschutzvorschriften zu ändern.
    </p>
    <p>Stand: 27.01.2019</p>
</template>
