<template name="cardsetAccess">
    {{#if hasPermission}}
        {{#if learningActive}}
            {{> cardset}}
        {{else}}
            {{> cardset}}
        {{/if}}
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>

<template name="cardset">
    {{> cardsetInfo}}
    {{> showLicense}}
    {{> cardsetForm}}
    {{> cardsetExportForm}}
    {{> cardsetImportForm}}
    {{> cardsetPublishForm}}
    {{> bonusForm}}
    {{> cardsetEndLearnForm}}
    {{> selectLicenseForm}}
    {{> reportCardsetForm}}
    {{> deleteCardsForm}}
    {{> resetLeitnerForm}}
    {{> resetMemoForm}}
    {{> leaveLearnPhaseForm}}
    {{> leaveCardsetForm}}
    {{> leaveEditorsForm}}
    {{> chooseFlashcards}}
    {{> joinBonusForm}}
    {{> leaveBonusForm}}
    {{> cardsetSidebar}}
    {{> profileIncompleteModal}}
    {{> cardsetLeitnerSimulatorForm}}
    {{#if hasCardsetPermission}}
        {{selectedForLearning}}
    {{/if}}
</template>
