<template name="filterIndexItemTitleRowTopic">
    <div class="hidden-xs {{this.gridSize}} resultsHeader">
        {{#if isBonusTranscriptsRoute}}
            {{_ "transcriptForm.index.topicBonus"}}
        {{else}}
            {{#if isWorkloadRoute}}
                {{_ "set-list.topicWorkload"}}
            {{else}}
                {{#if isRepetitorienFilterIndex}}
                    {{{getCardsetIcons this.shuffled}}}{{_ "courseIteration.list.courseIteration"}}
                {{else}}
                    {{{getCardsetIcons this.shuffled}}}{{_ "set-list.topic"}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</template>
